.footer{
    background:  linear-gradient(var(--color-light-purple)20%, var(--color-dark-purple)20%);
    @include mobile {
        background:  linear-gradient(var(--color-light-purple)28%, var(--color-dark-purple)28%);
    }
    &__main{
        margin-bottom: 150px;
        height: 604px;
        @include mobile {
            height: auto;
            margin: 0 20px;
        }
    }

    &__header{
        height: 120px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 230px;

        color: var(--color-light);
        font-weight: bold;
        letter-spacing: 1px;
        @include mobile {

            gap: 10px;
            justify-content: space-evenly;
            flex-direction: column;
            flex-wrap: wrap;
        }
        
        &-text{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            @include mobile {
                gap: 10px;
            }
        }
        &-logo {
            width: 108px;
            height: 30px;
            @include mobile {
                order: -1;
                width: 25%;
                height: 100%;
                display: flex;
                flex-wrap: nowrap;
                // height: 80px;
            }
        }
       
        &-contacts{
            display: flex;
            gap: 30px;
            
        }

    }

    .body{
        display: flex;
        gap: 24px ;
        margin-top: 80px;
        @include mobile {
            
            margin-top: 30px;
        }


        &__card{
            // width: 25%;
            width: calc(100%/4);

            color: var(--color-light);

            display: flex;
            flex-direction: column;
            gap: 30px;

            margin-bottom: 80px;
            @include mobile {
                margin-bottom: 0;
                gap: 15px;
            }

            &-title {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1.5px;
                @include mobile {
                    font-size: 12px;
                    height: 30px;
                }
            }

            &-list{
                list-style-type: none;
                font-size: 14px;

               li{
                margin-bottom: 16px;
                letter-spacing: 1px;
                @include mobile {
                    font-size: 11px;
                }
               } 
                
            }
        }

        
    }

    &__copyright{
        color: var(--color-light-purple-tfoot);
        display: flex;
        justify-content: center;
        text-transform: uppercase;

        font-weight: bold;
        letter-spacing: 1px;
        @include mobile {
            height: 50px;
            align-items: center;
            // margin-top: 30px;
        }
        
    }

}

