.content {

    &__menu  {

        height: 68px;
        background: var(--color-light-gray);
        

        &-list{
            height: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            gap: 15px;
            padding: 25px auto;
        }
        
        &-item{
            text-transform: uppercase;
            font-weight: bold;
            font-style: 13px;

            letter-spacing: 1px;

                
            
            &:hover {
                color: var(--color-light-purple);
            }
        }
        
    }

    &__news {
        background: var(--color-light);

        &-body{
            width: 856px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 80px;

        }

        
        &-title {
            text-align: center;
        }
        &-text {
            margin-top: 60px;
            margin-bottom: 20px;
        }

        &-item{
            margin-bottom: 15px;
        }

        &-number{
            list-style-type:decimal;
        }

        ul {
            list-style-position: inside;
        }
        
    }
}