@font-face{
    font-family: 'PTSans';
    src: url('../font/PTSans-Regular.woff2') format('woff2');
    font-weight: 400px;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'PTSans-Bold';
    src: url('../font/PTSans-Bold.woff2') format('woff2');
    font-weight: 700px;
    font-style: normal;
    font-display: swap;
}