@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-light: #FFFFFF;
  --color-light-gray: #F5F5F9;
  --color-dark-gray: #333333;
  --color-light-purple: #5A529C;
  --color-light-purple-tfoot: #9E99C5;
  --color-dark-purple: #3D348B;
  --color-blue: #5DB7DE;
  --table-item-border-radius: 20px;
  --width: 416px;
  --table-item-height: 223px;
  --buttom-file-border-radius: 10px;
  --buttom-file-width: 26px;
  --buttom-file-height: 18px;
  --buttom-submit-border: 2px solid var(--color-dark-purple:);
  --buttom-submit-border-radius: 50%;
  --input-border: 1px solid var(--color-light-gray);
  --input-border-radius: 5px;
  --input-height: 35px;
  --image-width: 306px;
  --image-height: 214px;
  --transition-duration: 0.2s;
  --container-width: 1920px;
  --container-width-pag: 1296px;
  --container-padding-x: 312px;
  --section-padding-y: 75px;
  --font-family-base: "PTSans", sans-serif;
}

.container {
  max-width: calc(var(--container-width-pag) + var(--container-padding-x) * 2);
  margin-inline: auto;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400px;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700px;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: clamp(14px, 0.8333333333vw, 16px);
  font-family: var(--font-family-base);
  font-weight: 400px;
  line-height: 1.28;
  color: var(--color-dark-gray);
  background-color: var(--color-light);
}

a, button, input, textarea, svg * {
  transition-duration: var(-transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  color: var(--color-light);
}

h1, h2, h3 {
  font-weight: 700;
  color: var(--color-light);
}

h1 {
  font-size: clamp(45px, 2.6041666667vw, 50px);
}

h2 {
  font-size: clamp(35px, 2.0833333333vw, 40px);
}

h3 {
  font-size: clamp(22px, 1.40625vw, 27px);
}

.header {
  display: flex;
  padding-top: 40px;
  flex-wrap: wrap;
}
.header__inner {
  max-width: var(--container-width-pag);
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 113px;
       column-gap: 113px;
  padding-bottom: 40px;
}
@media (max-width: 1023px) {
  .header__inner {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 1023px) {
  .header__logo {
    flex-shrink: 0;
    max-width: 95px;
    margin-left: 20px;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 30px;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: var(--color-dark-purple);
  transition-duration: 0.2s;
}
.header__input {
  max-width: 194px;
  display: inline;
  position: relative;
  border: none;
  border-bottom: 2px solid var(--color-light-gray);
  background: url(/img/ico/glass.svg) left/10% no-repeat;
  padding-left: 35px;
}
.header__input:focus {
  outline: none !important;
  border-bottom: 2px solid var(--color-dark-purple);
}
@media (max-width: 1920px) {
  .header__input {
    max-width: 150px;
  }
}
.header__select {
  position: relative;
  font-size: clamp(14px, 0.8333333333vw, 16px);
  height: 22px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(/img/ico/check.svg) right no-repeat;
}
.header__select:focus {
  outline: none;
  border: 2px solid var(--color-dark-purple);
}

.main__info {
  width: 1920px;
  height: 750px;
  background-image: url(/img/first-screen.jpg);
  background-size: contain;
  height: 750px;
}
.main__info__list-link {
  text-transform: uppercase;
  color: var(--color-light);
}/*# sourceMappingURL=styles.css.map */